body {font-family: Arial;}
.tab {overflow: hidden; border: 1px solid #ccc; background: #f1f1f1}
.tab button {background: inherit; float: left; border: none; outline: none; cursor: pointer; padding: 14px 16px; transition: 0.3s;
    font-size: 17px}
.tab button:hover {background: #ddd}
.tab button.active {background: #ccc}
.tabcontent {display: none; padding: 6px 12px; -webkit-animation: fadeEffect 1s; animation: fadeEffect 1s}
@-webkit-keyframes fadeEffect {from {opacity: 0;} to {opacity: 1;}}
@keyframes fadeEffect {from {opacity: 0;} to {opacity: 1;}}
* {box-sizing: border-box}
#sc {max-width: 1000px; position: relative; margin: auto}
.pr, .next {cursor: pointer; position: absolute; top: 50%; color: white; font-weight: bold; transition: .6s}
.next {right: 0} .pr:hover, .next:hover {background: black}
.text {color: black; font-size: 15px; text-align: center}
.nt {color: white; font-size: 12px; padding: 8px 12px; position: absolute}
.d {cursor: pointer; height: 15px; width: 15px; background: lightgray; border-radius: 50%; display: inline-block;
	transition: .6s}
.z, .d:hover {background: gray} .f {animation: y 2s}
@keyframes y {from {opacity: .1} to {opacity: 1}}
@media only screen and (max-width: 300px) {.pr, .next,.text {font-size: 11px}}